DB_FILE_NAME=file:./data/local.db
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://46.162.84.248:8080
BETTER_AUTH_AUTHENTIK_ID=""
BETTER_AUTH_AUTHENTIK_SECRET=""
BETTER_AUTH_AUTHENTIK_ISSUER="https://auth.dsek.se/application/o/dev/"
BETTER_AUTH_AUTHENTIK_AUTHORIZE_ENDPOINT="https://auth.dsek.se/application/o/authorize/"
BETTER_AUTH_AUTHENTIK_TOKEN_ENDPOINT="https://auth.dsek.se/application/o/token/"
BETTER_AUTH_TRUST_HOST=true
ADMIN_GROUPS="dsek.delta.projgr" # Auth groups with admin access, separated by spaces