DB_FILE_NAME=file:./data/local.db
HOSTNAME=localhost
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8080
BETTER_AUTH_AUTHENTIK_ID=
BETTER_AUTH_AUTHENTIK_SECRET=
BETTER_AUTH_AUTHENTIK_DISCOVERY_ENDPOINT="https://auth.dsek.se/application/o/delta-web/.well-known/openid-configuration"
BETTER_AUTH_AUTHENTIK_ISSUER="https://auth.dsek.se/application/o/delta-web/"
BETTER_AUTH_AUTHENTIK_AUTHORIZE_ENDPOINT="https://auth.dsek.se/application/o/authorize/"
BETTER_AUTH_AUTHENTIK_TOKEN_ENDPOINT="https://auth.dsek.se/application/o/token/"
BETTER_AUTH_TRUST_HOST=true
