@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-noto-sans: "Noto Sans", sans-serif;
  --font-noto-sans-mono: "Noto Sans Mono", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;

  @keyframes caret-blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  --animate-caret-blink: caret-blink 1s step-end infinite;
}
