---
import Layout from "@/layouts/Layout.astro";
import Tile from "@/components/Tile.astro";
import { CalendarDays, Clock, Users } from "@lucide/astro";
import Logo from "@/components/Logo.astro";
import Countdown from "@/components/Countdown.astro";
---

<Layout>
  <div
    class="relative min-h-lvh w-full overflow-x-hidden md:p-20 py-10 px-5 flex flex-col justify-center items-center"
  >
    <div class="flex flex-col justify-center items-center">
      <Logo class="md:text-9xl text-6xl" animate />
      <Countdown class="md:text-5xl text-xl" />
    </div>

    <div
      class="flex w-full flex-1 h-fit py-20 xl:flex-row flex-col justify-center items-center"
    >
      <Tile
        class="order-2 xl:order-1 flex-1 w-full h-fit xl:h-4/5"
        title="where?"
      >
        <div class="flex flex-col h-full">
          <p class="text-gray-200 md:text-lg text-base mb-5">
            E-Huset Ole Römers väg 3, 223 63 Lund, Lunds Tekniska Högskola
          </p>
          <iframe
            class="overflow-hidden flex-1 rounded-xl aspect-video xl:aspect-none bg-white shadow-md w-full h-full"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1001.2498072316307!2d13.209636197891264!3d55.711069045083036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465397ca158a6165%3A0x7f9339d3824e88ee!2sOle%20R%C3%B6mers%20v%C3%A4g%203%2C%20223%2063%20Lund!5e0!3m2!1ssv!2sse!4v1665410976182!5m2!1ssv!2sse"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          >
            E-huset LTH Ole Römers väg 3.
          </iframe>
        </div>
      </Tile>
      <Tile
        class="order-1 xl:order-2 flex-1 w-full xl:h-full xl:max-w-150"
        title="when?"
      >
        <ul
          class="list-none list-inside text-gray-200 md:text-3xl text-xl flex flex-col justify-evenly h-full"
        >
          <li>
            <CalendarDays class="inline-block w-6 h-6 mr-2" /> February 9th 2027
          </li>
          <li><Clock class="inline-block w-6 h-6 mr-2" /> 8:00 - 17:00</li>
          <li>
            <Users class="inline-block w-6 h-6 mr-2" /> Networking event after
          </li>
        </ul>
      </Tile>
      <Tile
        class="order-3 xl:order-3 flex-1 w-full aspect-none h-fit xl:h-4/5"
        title="what?"
      >
        <div class="h-fit w-full">
          <p class="text-gray-200 text-balance md:text-lg text-base">
            <span class="text-pink-500">Delta</span> is a career fair for Computer
            Science1 students, hosted by <a
              href="https://dsek.se"
              class="text-pink-500">the D-guild at TLTH</a
            >. We connect students with companies and provide opportunities for
            networking, internships, and job placements. Join us to explore
            exciting career opportunities and meet top employers from various
            industries. When the fair has concluded for the day, there will be a
            cozy network event where students and company representatives can
            meet in a relaxed setting. The fair will be an excellent opportunity
            for companies and students to meet eachother.
            <br />
            <br />
            We are currently reworking our offererings in terms of the fair and its
            related events and more information will come as soon as it's ready.
          </p>
        </div>
      </Tile>
    </div>

    <button
      class="bg-slate-800/60 hover:bg-slate-600/60 hover:shadow-2xl inset-shadow-sm/20 inset-shadow-gray-300 text-white font-bold backdrop-blur-md py-4 px-8 rounded-full"
    >
      <a
        class="md:text-5xl text-2xl flex flex-nowrap"
        href="mailto:delta@dsek.se"
        target="_blank"
      >
        <div>Attend&nbsp;</div>
        <Logo />
      </a>
    </button>
  </div>
</Layout>
