---
const { class: className, ...rest } = Astro.props;
---

<div
  class:list={[
    "frosted-glass flex flex-col min-h-0 min-w-0 w-full h-full rounded-2xl hover:scale-[1.01] hover:shadow-black/70 transition-all duration-300 ease-out",
    className,
  ]}
  {...rest}
>
  <slot />
</div>
