<footer class="bg-gray-800 p-4">
  <h2 class="text-pink-500">Contact</h2>
  <ul>
    <li><a href="mailto:delta@dsek.se">Mail</a></li>
    <!-- <li><a href="https://www.linkedin.com/in/christofer-gartner/">LinkedIn></a></li> -->
  </ul>
  <!-- addr -->
  <br />
  <p class="text-white">&copy; 2026 DELTA. All rights reserved.</p>
</footer>
