---
import LanguagePicker from "@/components/LanguagePicker.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="bg-gray-800 p-4">
  <h2 class="text-pink-500">{t("footer.contact")}</h2>
  <ul>
    <li class="text-gray-200">
      Email: <a class="text-pink-500" href="mailto:delta@dsek.se"
        >delta@dsek.se</a
      >
    </li>
    <!-- <li><a href="https://www.linkedin.com/in/christofer-gartner/">LinkedIn></a></li> -->
  </ul>
  <!-- addr -->
  <br />
  <h2 class="text-gray-200">
    {t("footer.development")}
    <a class="text-pink-500" href="https://github.com/Dsek-LTH/delta-web"
      >&nbsp;GitHub</a
    >.
  </h2>
  <br />
  <LanguagePicker />
  <br />
  <ul>
    <li class="text-gray-200">
      <p class="text-white">&copy; 2026 DELTA. All rights reserved.</p>
    </li>
  </ul>
</footer>
