---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  animate?: boolean;
}

const { animate = false, class: className, ...rest } = Astro.props;
---

<div class:list={["font-bold font-noto-sans text-d", className]} {...rest}>
  &gt;&nbsp;<span class="text-white">DELT</span>&Delta;<span
    class={animate ? "animate-caret-blink" : ""}>&#95;</span
  >
</div>
