---
const { class: className, ...rest } = Astro.props;
const { title } = Astro.props;
---

<div
  class={"p-10 m-5 rounded-2xl bg-gray-800 w-fit backdrop-blur-md opacity-90 aspect-square inset-shadow-sm/20 inset-shadow-white-500" +
    (className ? className : "")}
  {...rest}
>
  <h2 class="text-pink-500 font-bold text-5xl">
    <span class="text-pink-500">></span> {title}
  </h2>
  <slot class="my-5"/>
</div>
