---
import cover from "../assets/cover.webp";
import { Image } from "astro:assets";
---

<style>
  .terminal-cursor {
    /* step-end ensures it snaps sharply between visible and invisible */
    animation: blink 1.5s step-end infinite;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
</style>
<div class="h-full w-full bg-black">
  <div class="relative">
    <div class="absolute inset-0 items-center justify-center flex flex-col">
    <h1
      class="text-9xl font-bold text-white"
    >
      <span class="text-pink-500 whitespace-pre">> </span>DELT<span class="text-pink-500"
        >Δ</span
      ><span class="terminal-cursor">_</span>
    </h1>

    <h2
      class="text-4xl font-bold text-white"
    > 9 February 8:00</h2>
    </div>
    <!-- Background -->
    <Image
      src={cover}
      alt="Background image of the fair"
      class="h-100 w-screen object-cover opacity-100"
    />
    <div class="absolute inset-0 -z-10 h-full w-full"></div>
    <!-- Background -->
  </div>

  <div id="test" class="text-4xl flex flex-col mb-20 h-full">
    <h2 class="text-pink-500 font-bold ml-20 mt-10 mr-20 text-2xl">
      <span class="text-pink-500">></span> what? <span class="terminal-cursor">_</span>
    </h2>
    <p class="text-gray-200 ml-20 mt-10 mr-20 text-2xl">
      <span class="text-pink-500">Delta</span> is a career fair for Computer Science
      students, hosted by <a href="https://dsek.se" class="text-pink-500"
        >the D-guild at TLTH</a
      >. We connect students with companies and provide opportunities for
      networking, internships, and job placements. Join us to explore exciting
      career opportunities and meet top employers from various industries. When
      the fair has concluded for the day, there will be a cozy network event
      where students and company representatives can meet in a relaxed setting.
      The fair will be an excellent opportunity for companies and students to
      meet eachother.
      <br />
      <br />
      We are currently reworking our offererings in terms of the fair and its related
      events and more information will come as soon as it's ready.
    </p>

    <h2 class="text-pink-500 font-bold ml-20 mt-10 mr-20 text-2xl">
      <span class="text-pink-500">></span> when? <span class="terminal-cursor">_</span>
    </h2>
    <p class="text-gray-200 ml-20 mt-10 mr-20 text-2xl">
      February 9th 2027 between 8:00 and 17:00, with a relaxed networking event
      starting at 17:00
    </p>

    <h2 class="text-pink-500 font-bold ml-20 mt-10 mr-20 text-2xl">
      <span class="text-pink-500">></span> where? <span class="terminal-cursor">_</span>
    </h2>
    <p class="text-gray-200 ml-20 mt-10 mr-20 text-2xl">
      E-Huset Ole Römers väg 3, 223 63 Lund, Lunds Tekniska Högskola
    </p>
    <iframe
      class="ml-20 mt-5 max-w-md overflow-hidden rounded-xl bg-white shadow-md md:max-w-2xl"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1001.2498072316307!2d13.209636197891264!3d55.711069045083036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465397ca158a6165%3A0x7f9339d3824e88ee!2sOle%20R%C3%B6mers%20v%C3%A4g%203%2C%20223%2063%20Lund!5e0!3m2!1ssv!2sse!4v1665410976182!5m2!1ssv!2sse"
      width="100%"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
      E-huset LTH Ole Römers väg 3.
    </iframe>

    <h2 class="text-pink-500 font-bold ml-20 mt-10 mr-20 text-2xl">
      <span class="text-pink-500">></span> contact <span class="terminal-cursor">_</span>
    </h2>
    <p class="text-gray-200 ml-20 mt-10 mr-20 text-2xl">
      If you have any questions, want to get in touch with us or want to be
      notified when we release more information regarding the fair, feel free to
      reach out to us at <a href="mailto:delta@dsek.se" class="text-pink-500"
        >delta@dsek.se</a
      >. We are always happy to hear from you and answer any inquiries you may
      have about our events, partnerships, or anything else related to DELTA.
    </p>
  </div>
</div>
