---
---

<div id="test" class="text-4xl bg-black flex flex-col justify-left h-screen">
  <h1 class="font-bold m-20 text-white ">
    <span class="text-pink-500">></span> DELT<span class="text-pink-500">Δ</span>
  </h1>
  <p class="text-gray-400 m-20 text-2xl">
    The best carer fair in the world, hosted by <a href="https://dsek.se" class="text-pink-500">the D-guild at TLTH</a>. We connect students with companies and provide opportunities for networking, internships, and job placements. Join us to explore exciting career opportunities and meet top employers from various industries.
  </p>

  <h2 class="text-pink-500 font-bold m-20 text-2xl">
    <span class="text-pink-500">></span> Contact Us
  </h2>
  <p class="text-gray-400 m-20 text-2xl">
    If you have any questions or want to get in touch with us, feel free to reach out to us at <a href="mailto:delta@dsek.se" class="text-pink-500">delta@dsek.se</a>. We are always happy to hear from you and answer any inquiries you may have about our events, partnerships, or anything else related to DELTA.
  </p>
</div>
