<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/delta-delta.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DELTA | D-sektionen inom TLTH</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    width: vw;
    height: vh;
  }
</style>
