---
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/delta-delta.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DELTA | D-sektionen inom TLTH</title>
  </head>

  <body class="bg-slate-950">
    <header class="bg-gray-800">
      <p class="text-pink-500"></p>
    </header>

    <main class="flex justify-center w-screen">
      <slot />
    </main>

    <footer class="bg-gray-800 p-4">
      <h2 class="text-pink-500">Contact</h2>
      <ul>
        <li><a href="mailto:delta@dsek.se">Mail</a></li>
        <!-- <li><a href="https://www.linkedin.com/in/christofer-gartner/">LinkedIn></a></li> -->
      </ul>
      <!-- addr -->
      <br />
      <p class="text-white">&copy; 2026 DELTA. All rights reserved.</p>
    </footer>
  </body>
</html>
