---
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";
import cover from "@/assets/tekfok26_0003.webp";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/delta-delta.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DELTA | D-sektionen inom TLTH</title>
  </head>

  <body class="relative isolate bg-slate-950 font-inter text-white">
    <div class="absolute inset-0 -z-10">
      <Image
        src={cover}
        alt="Background Cover"
        class="w-full h-full object-cover blur-lg fixed"
      />
    </div>
    <div
      class="fixed inset-0 -z-10 bg-black/30 backdrop-blur-md pointer-events-none"
    >
    </div>

    <header class="bg-gray-800">
      <p class="text-pink-500"></p>
    </header>

    <main class="flex justify-center w-screen">
      <slot />
    </main>

    <Footer />
  </body>
</html>
